<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default("Soo Supper Suggester") }}</title>
    <meta name="description" content="Randomly suggest an open restaurant in Sault Ste. Marie, Ontario. Designed like it's 1998.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        {%- block main -%}
            {{ content | safe }}
        {%- endblock -%}
    </main>

    
    <footer>
        {% block footer %}{% endblock %}
        
        <a href="https://madeinthesoo.ca/">Made in the Soo 🇨🇦</a>
        <span class="sep" aria-hidden="true">•</span>
        <a href="https://dohnutt.com">Built by 🍩</a>
    </footer>
    

    
    <script src="/script.js"></script>
    {%- block scripts %}{% endblock %}
</body>
</html>