---
title: Soo Supper Suggester
permalink: /index.html
---
{% extends "_base.njk" %}

{% block main %}
<div class="container">
    <h1>Soo Supper Suggester</h1>
    
    <p style="font-size: 1.4rem">Sault Ste. Marie is full of great places to eat, but making a decision can be tough. Hit the button below to roll a suggestion.</p>
    <p><small>Don't like the suggestion? <em>Roll it again.</em> Don't like that one? <em>Roll it again.</em> Still not a fan? <em>Roll it again.</em> One more time? <em>Okay, maybe you're the problem.</em></small></p>
</div>

<button id="roll" type="button">Roll it</button>

<p id="status-message"></p>
{% endblock %}